################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Get-SQLErrorLog/.vs/Get-SQLErrorLog/v14
